/*

"width: 0px" - Ширина блока;
"height: 0px" - Высота блока;
"background-color: color" - Фон элемента;
"border: 5px solid orangered" - Граница (рамка) вокруг элемента;
"padding: 0px" - Расстояние между содержимым элемента и его рамкой; 
"margin: 0px" -  расстояние между этим элементом и другими элементами вокруг;
"font-size: 0" - Размер шрифта;
"text-align: left" - Выравнивание текста;
"color: black" - Цвет текста;
"initial" - Отключить  наследуемость;
"inherit" - Включить наследуемость;
"vertical-align" - выравнивания элементов внутри строки (по вертикали);
"box-sizing" - свойство, которое управляет тем, как рассчитываются размеры элемента;

*/


nav {
    text-align: center;

}

a {
    text-decoration: none;
    display: inline-block;
    height: 100px;
    text-align: center;
    font-size: 20px;
    width: 100px;
    border: 2px red solid;
    padding: 30px;
    margin: 20px;


}

p {
    display: inline-block;
    border: 3px blueviolet solid;
    width: 300px;
    height: 200px;
    margin: 15px;
    padding: 50px;
    font-size: 15px;
    text-align: center;
    vertical-align: top;

}

h1 {

}

h2 {

}